@import "tailwindcss";

@layer utilities {
  .font-merriweather {
    font-family: var(--font-merriweather), serif;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-heading {
    line-height: 35px;
  }
}

@media screen and (min-width: 768px) {
  #hero-heading {
    line-height: 55px;
  }
}

@media screen and (min-width: 1024px) {
  #hero-heading {
    line-height: 64px;
  }
}
@media screen and (min-width: 1280px) {
  #hero-heading {
    line-height: 74px;
  }
}

@media screen and (min-width: 1536px) {
  #hero-heading {
    line-height: 96px;
  }
}
